TridentSandbox_1.88.zip
images/Thumbs.db
images_ide/Thumbs.db
images_ide/live_tile/Thumbs.db
images_ide/vector-social-media-icons/Thumbs.db
libraries/tinymce/skins/lightgray/img/Thumbs.db
libraries/tinymce/plugins/emoticons/img/Thumbs.db