BODY
   {
	font-family:"Segoe UI", sans;
	background-color:#224;
    color:#ccc;
   }

H2
{
	color:#fff;
}

H3
{
	color:#8c8;
}

th 
{
	text-align:left;
}

a:link
{
    color: #dd8;
}

a:hover
{
    text-decoration: underline;
    color: #FFFF99;
}

a:visited
{
    color: #dd8;
}
